<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmt.admin.mapper.IResourceMapper">
	<select id="listByRoleId" resultType="com.lmt.admin.model.Resource" parameterType="int">
		select r.* 
		from lmt_resource r 
		join lmt_role_resource rr on r.id = rr.resource_id 
		where rr.role_id = #{roleId}
		and r.status = 1
		and rr.status = 1
	</select>
	<select id="listByAdminId" resultType="com.lmt.admin.model.Resource" parameterType="int">
		select r.* 
		from lmt_resource r,
		join lmt_role_resource rr on rr.resource_id = r.id
		join lmt_admin_role ar on rr.role_id = ar.role_id
		where ar.admin_id = #{adminId}
		and r.status = 1
		and rr.status = 1
		adn ar.status = 1
	</select>
</mapper>