<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmt.admin.mapper.IRoleMapper">
	<select id="listByAdminId">
		select * from lmt_role r join lmt_admin_role ar on ar.role_id=r.id where ar.admin_id = ?
	</select>
	
</mapper>
